# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# ML models (large files)
*.h5
*.hdf5
*.pb
*.tflite
*.onnx
*.ckpt*
checkpoint/
saved_model/

# Large folders to ignore
data/
dataset/
uploads/
model/

# Image files (large)
*.jpg
*.jpeg
*.png
*.webp

# Flask
instance/
*.log

# OS / Editor junk
.DS_Store
Thumbs.db

# Environment files
*.env
.env
